.table {
  margin-top: 20px;
  height: 400px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table td {
  padding: 0.5rem;
}

.table td.td-cases {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
